<% content_for :head do %>
<meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="slaytlar text-center">
  <div class="scroller">
    <div><%= image_tag "1.png" %></div>
    <div><%= image_tag "2.png" %></div>
    <div><%= image_tag "3.png" %></div>
    <div><%= image_tag "4.png" %></div>
    <div><%= image_tag "5.png" %></div>
    <div><%= image_tag "6.png" %></div>
    <div><%= image_tag "7.png" %></div>
  </div>
</div>

<div>
  <h3 > <span class="xx">gününüzü güzelleştİrİn</span> <strong>#makemydaytr </strong></h3>
</div>

<div class="biz">
<div class="anacardlar text-center">

  <div class="ancard"><%= image_tag 'kendi1.png' %></div>
  <div class="ancard"><%= image_tag 'kendi2.png' %></div>
  <div class="ancard"><%= image_tag 'kendi3.png' %></div>
  <div class="ancard"><%= image_tag 'kendi4.png' %></div>
  <div class="ancard"><%= image_tag 'kendi5.png' %></div>
  <div class="ancard"><%= image_tag 'kendi6.png' %></div>
  <div class="ancard"><%= image_tag 'kendi7.png' %></div>
  <div class="ancard"><%= image_tag 'kendi8.png' %></div>
  <div class="ancard"><%= image_tag 'kendi9.png' %></div>


</div>
</div>
