<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <%= stylesheet_link_tag    'application', media: 'all', :'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', :'data-turbolinks-track' => 'reload' %>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>
    <div class="basr">
      <div class="text-center">

      </div>
    </div>
    <div class="container text-center">
      <%= yield %>
    </div>
    <footer id="myFooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <br>
            <%= image_tag 'footer.png', class: 'logo' %>
          </div>
          <div class="col-sm-3">
            <h5>YARDIM</h5>
            <ul>
              <li><a href="#">Ödeme ve Teslimat</a></li>
              <li><a href="#">Gizlilik ve Kullanım Şartları</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h5></h5>
            <%= image_tag 'ssl.png', class: 'ssl' %>
          </div>
          <div class="col-sm-3">
            <div class="social-networks">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
            </div>
            <button type="button" class="btn btn-default">Contact us</button>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
  <p>© www.makemydaytr.com bulunan tüm ürün ürünlere ait açıklayıcı bilgiler, görseller telif hakları kanununca korunmakta olup izinsiz paylaşılması, kopyalanması veya herhangi biri yazılı ya da görsel mecralarda kullanılması kanunen yasaklanmış olup hukuki yaptırıma tabi tutulmaktadır. </p>
        </div>

      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>

    </body>
  </html>
